# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text diff=python

# Documentation
*.md text diff=markdown
*.txt text

# Configs
*.yml text
*.yaml text
*.json text
*.toml text
*.ini text
*.cfg text

# Git files
.gitattributes text
.gitignore text